body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 30px;
}

select {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button.default {
    color: #fff;
    background-color: #ff9900;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    opacity: 0.9;
    transition: opacity 0.5s ease;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    flex: 1;
    padding: 40px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    opacity: 0.9;
    transition: opacity 0.5s ease;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 100px;
}

a:hover {
    color: #ff9900;
}

header:hover {
    opacity: 1;
}

footer:hover {
    opacity: 1;
}

button:hover {
    color: #ff9900;
}